@using Assignment_Form.Models;
@model User
@{
    ViewBag.Title = "Updatepassword";
}
@section logout{
    <a href="@Url.Action("Login","Home")" class="btn btn-outline-light">Login</a>
}
<body class="bg-gradient">
<div class="bg-info m-5">
    @*<h2 class="text-bg-dark text-danger">Properly not working, I am working on it</h2>*@
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-black" style="border-radius: 15px;">
                        <div class="card-body p-5  ">
                            <h3 class="text-white">Forgot password ?</h3>
                            @using (Html.BeginForm("updatepassword", "dashboard", FormMethod.Post, new { @class = "form p-3 border m-5 row justify-content-center" }))
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(m => m.Username, new { @class = "text-white mx-3" })
                                    @Html.TextBoxFor(m => m.Username)
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger mx-3" })
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(m => m.Password, new { @class = "text-white mx-3" })
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger mx-3" })
                                </div>
                                <div class="form-outline mb-4">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-white mx-3" })
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger mr-5" })
                                </div>
                                <div class="pt-1 mb-4">
                                    <input type="submit" value="Save Changes" class="btn btn-success" />
                                </div>

                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>